*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans',sans-serif;
}

.navbar
{
    background: #009999;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;

}
#navbar_logo
{
    background-color: #ffF;
    /* background-image: linear-gradient(to top,#FF0844 0%, #FFB199 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    
}
.fa_gem
{
    margin-right: 0.5rem;
}
.navbar_menu
{
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
}
.navbar_item
{
    height: 80px;    
}
.navbar_links
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}
.navbar_btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width:100%;
}
.button
{   
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;


}
.button:hover{
    background:#4837ff;
    transition: all 0.3s ease;
}
.navbar_links:hover{
     background: #f77062;
    transition: all 0.3s ease; 
}
@media screen and (max-width:960px)
{
    .navbar_container
    {
        display: flex;      
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu
    {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313; 
      
    }

    .navbar_menu.active
    {
       background: #131313;      
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 99;
        font-size: 1.6rem;
    }
    #navbar_logo
    {
        padding-left: 25px;

    }
    .navbar_toggle .bar{
     
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menue
    {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar_btn{
    padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
  #mobile-menue.is-active .bar:nth-child(2)
  { 
    opacity: 0;
  }
  #mobile-menue.is-active .bar:nth-child(1)
  {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menue.is-active .bar:nth-child(3)
  {
    transform: translateY(-8px) rotate(-45deg);
  }
    
   
}

/* hero section */
.main{
    background-color: #F5F5F5;
}
.main_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 50vh;  
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
#img_main
{
    width: 80%;
    height: 80%;
}

.main_content h1
{
    font-size: 4rem;
    background-color: #F8F9F9;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;  
    background-size: 100%;

}

.main_content h2
{
    font-size: 2rem;
    background-color: darkgrey;
  
    /* background-image: linear-gradient(to top,#FF0844 0%, #FFB199 100%); */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
  
}

@media screen and (max-width:960px)
{
    .main_container
    {
        display: grid;   
        grid-template-columns: auto;   
        align-items: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
        height: 60vh;  
    }
    #img_main
    {
        width: 450px;
        height: 450px;
        align-items: center;
        justify-self: center;
    }
}

/* orders section css */

.orders
{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.orders h1{
    background-color: #a59f9f;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    font-family: 'Lucidatypewriter';
    
}

.orders_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.orders_cards
{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%),
    url('images/food1.jpg');
    background-size: cover;
    position: relative;
    color: #fff;       
    
}
.orders_cards:nth-child(2)
{
    
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),0%,
    rgba(17,17,17,0.6)100%),
    url('/images/drinks.jpg');       
    
}
.orders h2{
    position: absolute;
    top: 350px;
    left: 30px;    
}

.orders_cards p{
    position: absolute;
    top: 400px;
    left: 30px;  
}

.orders_cards button{
    color: #fff;
    padding: 10px 20px;
    outline: none;
     border: none;
     border-radius: 4px;
     background: #f77062;
     position: absolute;
     top: 440px;
     left: 30px;
     font-size: 1rem;
     cursor: pointer;
}
.orders_cards:hover
{
    transform: scale(1.075);
    transition: 0.25s ease-in;
    cursor: pointer;
}

@media screen and (max-width:960px){
    .orders{
        height: 1600px;
    }
    .orders h1{
      font-size: 2rem;
      margin-top: 12rem;

    }
}
@media screen and (max-width:400px){
    .orders{
        height: 1400px;
    }
    .orders h1{
      font-size: 1.2rem;      

    }
    .orders_cards
    {
        width: 300;
    }
}

/* footer section */

.footer_container
{
    background-color: rgb(64 , 64, 64);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

#footer_logo
{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;    
}
.footer_links
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer_wrapper
{
    display: flex;

}
.footer_link_items
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer_link_items h2
{
    margin-bottom: 16px;
}

.footer_link_items >h2
{
    color: #fff;
}
.footer_link_items a
{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer_link_items p
{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.2rem;
}
.footer_link_items:hover
{
    color: #fff;
    transition: 0.3s ease-out;
}

.social__icon_link
{
    color: #fff;
    font-size: 24px;
}
.social_media
{
    max-width: 1000px;
    width: 100%;
}
.social_media_wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;

}
.social_icons
{
  display: flex;
  justify-content: space-between;
    align-items: center;
    width: 240px;

}

.social_logo{
 justify-items: flex-start;
 margin-left: 20px;
 cursor: pointer;
 text-decoration: none;
 font-size: 2rem;
 display: flex;
 align-items: center;
 margin-bottom: 16px;

}

.website_rights
{
    color: #fff;
}
@media screen and(max-width:620px)
{
    .footer_links
    {
        padding-top: 2rem;
    }
    #footer_logo
    {
        margin-bottom: 2rem;
    }
    .website_rights{
        margin-bottom: 2rem;
    }
    .footer_wrapper
    {
        flex-direction: column;

    }

    .social_media_wrap
    {
        flex-direction: column;
    }

 

}
@media screen and(max-width:480px)
{
    .footer_link_items
    {
        margin-bottom: 0;
        padding:10px;
        width: 100%;
    }
}